# network specific node uri: `"NODE_URI_" + networkName.toUpperCase()`
NODE_URI_GOERLI=https://eth-goerli.g.alchemy.com/v2/<apiKey>
NODE_URI_OPTIMISM=https://opt-mainnet.g.alchemy.com/v2/<apiKey>

# network specific account type: `${networkName.toUpperCase()}_ACCOUNTS_TYPE`, can either be MNEMONIC, or PRIVATE_KEYS.
GOERLI_ACCOUNTS_TYPE=PRIVATE_KEYS
OPTIMISM_ACCOUNTS_TYPE=PRIVATE_KEYS

# network specific mnemonic: `${networkName.toUpperCase()}_MNEMONIC`
GOERLI_MNEMONIC=<mnemonic for mainnet>
OPTIMISM_MNEMONIC=<mnemonic for mainnet>

# network specific private keys: `${networkName.toUpperCase()}_{INDEX_OF_ACCOUNT}_PRIVATE_KEY`
GOERLI_1_PRIVATE_KEY=<private key for first mainnet account>
OPTIMISM_1_PRIVATE_KEY=<private key for first mainnet account>

# Mocha (10 minutes)
MOCHA_TIMEOUT=600000

# Etherscan (optional, only for verifying smart contracts)
# network specific api key: `${networkName.toUpperCase()}_{INDEX_OF_ACCOUNT}_PRIVATE_KEY`
GOERLI_ETHERSCAN_API_KEY=
OPTIMISM_ETHERSCAN_API_KEY=